html{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}
body{
    background-color: black;
    width: 100%;
    color: white;
}
h1{
    text-align: center;
}

main img{
    float: right;
    margin-right: 200px;
    width: 300px;
    height: 200px;
}

main p{
    font-size: 1em;
    text-align: justify;
    margin-left: 60px;
    padding-top:50px ;
    width: 44%; 
}

footer{
    background-color: #1E1A13;
    width: 100%;
    margin-top: 100px ;
    height: 20px;
    padding: 23px;
    text-align: center;
}

footer a{
    transition: color 0.3s ease;
    text-decoration: none;
    color: #ffffff;  
}

footer a:hover{
    color: rgba(7, 119, 53, 0.87);
}

.volver{
    text-align: right;
    padding-right: 50px;
}
